<h1 color:blue>Consulter les agences </h1>
<ul>
{% for agence in agences %}
<li>{{ agence.nom|e }}  {{agence.telagence|e }} {{agence.adresseville|e }} </li>
{% endfor %}
</ul>
</div> 
<button type="button"  ><a href={{path('Admin')}}>Back</a></button>